<div class="container-fluid about-container">
  <div class="container aboutcont">
    <div class="headerbox">
      <h1 class="aboutheader text-start">CAN I COUNT ON
      </h1>
    </div>
    <div class="pt-4">
      <h1 class="aboutheader text-start">YOUR VOTE?</h1>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="row">
    <!-- First container -->
    <div class="col-lg-6 col-md-12">
      <div class="container">
        <!-- Your content here -->
      </div>
    </div>
    <!-- Second container -->
    <div class="col-lg-6 col-md-12">
      <div class="container-fluid aboutsecond-container">
        <!-- Your content here -->
      </div>
    </div>
  </div>
</div>
