<div class="container-fluid about-container">
  <div class="container aboutcont">
    <div class="headerbox">
      <h1 class="aboutheader text-start">CAN I COUNT ON
      </h1>
    </div>
    <div class="pt-4">
      <h1 class="aboutheader text-start">YOUR VOTE?</h1>
    </div>
  </div>
</div>
<section id="donatebanner">
  <div class="container-fluid banner-container">
    <div class="row">
      <div class="col-12 bannertop"></div>
      <div class="col-12 bannermiddleabout d-flex align-items-center justify-content-center pt-1 text-center">
        <a class="btn donatebanner-btn donatebutton-hover" href="#" role="button">DONATE TODAY</a>
        <p class="bannertextmiddle">WILL YOU JOIN US AND DONATE TO MOVE BURLINGTON FORWARD?</p>
      </div>
      <div class="col-12 bannertop"></div>
    </div>
  </div>
</section>
<div class="container-fluid p-0">
  <div class="row">
    <!-- First container -->
    <div class="col-lg-5 col-md-12 aboutsecond-container">
      <div class="container-fluid">
        <!-- Your content here -->
      </div>
    </div>
    <!-- Second container -->
    <div class="col-lg-7 col-md-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 pt-5 pb-5">
            <h1 class="aboutbethh1">ABOUT BETH</h1>
            <p class="aboutmaintext" >Beth has over 18 years of experience leading faith communities and nonprofits in discernment around conflict and visioning for the future.  Beth is a Professional Certified Coach, credentialed by the International Coaching Federation (ICF) and is an ordained minister with standing in the United Church of Christ. Beth has worked for 18 years as an organizational consultant, coach and training facilitator; she has experience as pastor, educator, denominational staff, conflict management facilitator, and has developed curriculum in the areas of vocation, leadership development, organizational consulting, coaching and engaging challenging conversations.<br>
              <br>
              Beth holds a Master of Divinity degree, as well as Bachelor of Arts
              degrees in Music and Music Education. Over the past few years, Beth has given much of her work attention to research, development, and training to help people with well-being and resilience in order to thrive and flourish in their lives and careers.<br>
              <br>
              Outside of work Beth loves spending time with family and friends and is actively engaged in the community and can often be found serving alongside others in imagining a better future for all.
              Beth is married to Jay, for 32 years, and they have two adult daughters Abi, a public school teacher and Emma, a political scientist; and a wonderful German Shepherd, Rocky Lopez Kennett, who joined the family just a few weeks prior to the pandemic shut down.
              <br>
              <br>
              Beth has been using her gifts and skills in convening people to come together to connect neighbors with neighbors and listen to the ideas and concerns of the public in our city as a positive way to improve and strengthen community life for all in Burlington.  Planning connections like the first ever Mayor’s Candidate Forum held in East Burlington at Mayco Bigelow Center in 2019.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid rockycont">
  <div class="container rockyimage">
  </div>
</div>
