<!-- Header Section -->
<section id="homeheader">
  <div class="container-fluid header-container">
    <div class="image-container" loading="lazy"></div>
  </div>
</section>
<!-- Donate Banner -->
<section id="donatebanner">
  <div class="container-fluid banner-container">
    <div class="row">
      <div class="col-12 bannertop"></div>
      <div class="col-12 bannermiddle text-center">
        <a class="btn donatebanner-btn donatebutton-hover" href="https://secure.actblue.com/donate/committee-to-elect-beth-kennett-1" role="button" target="_blank">DONATE TODAY</a>
        <h2 class="bannertexttop">
          <span class="break-on-mobile">BETH WINS,</span> BURLINGTON WINS
        </h2>
        <p class="bannertextmiddle">WILL YOU JOIN US AND DONATE TO MOVE BURLINGTON FORWARD?</p>
      </div>
      <div class="col-12 bannertop"></div>
    </div>
  </div>
</section>
<!-- Hero Section -->
<section id="herosection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 sm-12 left-container pt-4">
        <h1 class="triplectext text-center">Community First:<br>
          A New Vision for Burlington.</h1>
        <p class="leftconttextp pb-2">
          As Jay and I raised our two daughters in Burlington, we have personally witnessed the
          impacts of economic disparities and the challenges surrounding opportunity and inclusion.<br>
          <br>
          Unemployment, housing insecurity, inadequate public
          transportation, and concerns about community safety are not
          abstract issues, they exist just beyond our doorstep. These
          challenges are not merely topics on the evening news; they
          reverberate through our neighborhood, affecting the quality of
          life and the sense of security for all of us who call it home.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 right-container"></div>
    </div>
  </div>
</section>
<section id="secondherosection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-12 left-containertwo">
      </div>
      <div class="col-lg-7 col-md-12 right-containertwo pt-4">
        <div class="logoboxhero pt-2">
          <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/f_auto,q_auto/v1693251779/Light_Rectangle_Beth_Logo_3x_rvjl0l.webp" loading="lazy" alt="Beth's Logo">
        </div>
        <h1 class="triplectexttwo pt-4 text-center">I will put Burlington<br>
          to work for <span id="animatedTextTwo">you</span></h1>
        <p class="leftconttextptwo text-lg-leftpb-1">
          Committed to making local government a catalyst for community improvement, I'll focus on universally important issues like safe neighborhoods and affordable housing. Leveraging my expertise in hosting listening sessions, I'll ensure our government is transparent, accountable, and responsive. By collaborating with local stakeholders, we'll find innovative solutions to our most pressing challenges, building a stronger, safer, more united Burlington for everyone.</p>
      </div>
    </div>
  </div>
</section>
<section class="quotesection">
  <div class="container-fluid quotebackground">
    <div class="container quotecont">
      <div class="row pt-4">
        <div class="col-12 pt-2 pb-2 text-center">
          <h1 class="quotetext text-center">" <span class="marker-underline">Together
              <div class="underline"></div>
            </span>, We Build a Better Burlington" </h1>
        </div>
      </div>
      <div class="row justify-content-center iconrow pb-5">
        <!-- First Icon and Text -->
        <div class="col-6 col-md-3 iconboxcol">
          <div class="row">
            <div class="col-12">
              <div class="iconbox pt-2">
                <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/f_auto,q_auto/v1693258302/Communitylisteningicon_u7vukx.svg" loading="lazy" alt="Community Listening">
              </div>
            </div>
            <div class="col-12 text-center">
              <h3 class="pt-3 icontext">Community Listening</h3>
            </div>
          </div>
        </div>
        <!-- Second Icon and Text -->
        <div class="col-6 col-md-3 iconboxcol">
          <div class="row">
            <div class="col-12">
              <div class="iconbox pt-2">
                <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1693261544/safety_xuy9xv.svg" alt="Community Safety">
              </div>
            </div>
            <div class="col-12 text-center">
              <h3 class="pt-3 icontext">Community Safety</h3>
            </div>
          </div>
        </div>
        <!-- Third Icon and Text -->
        <div class="col-6 col-md-3 iconboxcol">
          <div class="row">
            <div class="col-12">
              <div class="iconbox pt-2">
                <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1693260382/livable_peshtr.svg" alt="Livable Communities">
              </div>
            </div>
            <div class="col-12 text-center">
              <h3 class="pt-3 icontext">Livable Communities</h3>
            </div>
          </div>
        </div>
        <!-- Fourth Icon and Text -->
        <div class="col-6 col-md-3 iconboxcol">
          <div class="row">
            <div class="col-12">
              <div class="iconbox pt-2">
                <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/f_auto,q_auto/v1693259042/livablecommunities_moplkj.svg" loading="lazy" alt="Affordable Housing">
              </div>
            </div>
            <div class="col-12 text-center">
              <h3 class="pt-3 icontext">Affordable Housing</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="donatebanner">
  <div class="container-fluid banner-container">
    <div class="row">
      <div class="col-12 bannertop"></div>
      <div class="col-12 bannermiddle d-flex align-items-center justify-content-center pt-1 text-center">
        <a class="btn donatebanner-btn donatebutton-hover" href="https://secure.actblue.com/donate/committee-to-elect-beth-kennett-1" role="button" target="_blank">DONATE TODAY</a>
        <p class="bannertextmiddle">WILL YOU JOIN US AND DONATE TO MOVE BURLINGTON FORWARD?</p>
      </div>
      <div class="col-12 bannertop"></div>
    </div>
  </div>
</section>
<section id="bethphoto">
  <div class="container-fluid bethphoto-cont">
    <div class="container bethcont">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10 pt-4 text-center quotetexttwo">
          <p>"We cannot seek achievement for ourselves and forget about progress and prosperity for our community... Our ambitions must be broad enough to include the aspirations and needs of others, for their sakes and for our own."<br>
            — Cesar Chavez
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid next-container d-flex align-items-end justify-content-center">
  </div>
</section>
