<!-- Header Section -->
<section id="homeheader">
  <div class="container-fluid header-container">
    <div class="image-container"></div>
  </div>
</section>
<!-- Donate Banner -->
<section id="donatebanner">
  <div class="container-fluid banner-container">
    <div class="row">
      <div class="col-12 bannertop"></div>
      <div class="col-12 bannermiddle text-center">
        <a class="btn donatebanner-btn donatebutton-hover" href="#" role="button">DONATE TODAY</a>
        <h2 class="bannertexttop">SHE WINS, WE WIN</h2>
        <p class="bannertextmiddle">WILL YOU JOIN US AND DONATE TO MOVE BURLINGTON FORWARD?</p>
      </div>
      <div class="col-12 bannertop"></div>
    </div>
  </div>
</section>
<!-- Hero Section -->
<section id="herosection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 sm-12 left-container pt-4">
        <div class="logoboxhero">
          <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1693251779/Light_Rectangle_Beth_Logo_3x_rvjl0l.webp" alt="Beth's Logo">
        </div>
        <h1 class="triplectext text-center">Building a Burlington centered in Community, Collaboration and Compassion.</h1>
        <p class="leftconttextp pt-2 pb-2">
          As Jay and I raised our two daughters in Burlington, we have personally witnessed the
          impacts of economic disparities and the challenges surrounding opportunity and inclusion.<br>
          <br>
          Unemployment, housing insecurity, inadequate public
          transportation, and concerns about community safety are not
          abstract issues, they exist just beyond our doorstep. These
          challenges are not merely topics on the evening news; they
          reverberate through our neighborhood, affecting the quality of
          life and the sense of security for all of us who call it home.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 right-container"></div>
    </div>
  </div>
</section>
<section id="secondherosection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 left-containertwo">
      </div>
      <div class="col-lg-6 col-md-12 right-containertwo pt-4">
        <h1 class="triplectexttwo text-center">I will put the City of Burlington<br>
          to work for <span id="animatedTextTwo">you</span></h1>
        <p class="leftconttextptwo pt-2 pb-2">
          Committed to making local government a catalyst for community improvement, I'll focus on universally important issues like safe neighborhoods and affordable housing. Leveraging my expertise in hosting listening sessions, I'll ensure our government is transparent, accountable, and responsive. By collaborating with local stakeholders, we'll find innovative solutions to our most pressing challenges, building a stronger, more united Burlington for everyone.
        </div>
      </div>
    </div>
  </section>
