<section id="visionhero">
  <div class="container-fluid visionheadercont">
    <div class="container visionherocont pt-5 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <h1 class="visiontext">MY VISION FOR <span id="animatedTextTwo">BURLINGTON</span></h1>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <p class="visionsubtext">My vision for Burlington is one where all people feel safe and welcome, where we live, work and play together as good neighbors collaborating and being community for each other.
            I see a Burlington where community leaders are engaged with community members and hear concerns in a way to invite community input to meet the challenges we face.</p>
          <p class="visionsubtext">I see a Burlington where all are able to find the resources they need to live and thrive–livable wage jobs, affordable housing, safe and livable communities.
            I see a Burlington that embraces our diversity and maximizes the best of who we are.
            I see a Burlington that embraces community, collaboration and compassion for all.</p>
          <h3 style="color: #fffcf5; font-weight: bold;">Leadership Matters</h3>
          <p class="visionsubtext">This vision of Burlington cannot be achieved with 15-minute council meetings and leaders who show up in the community once or twice a year.
            This vision of Burlington can be achieved with a leader that shows up, a leader that listens, a leader that works hard for every citizen and calls on our council to work hard as well.</p>
          <h3 style="color: #fffcf5; font-weight: bold;">Vote Beth Kennett for Burlington Mayor</h3>
          <p class="visionsubtext">I will work every day to be that leader who will help us join together to build a safe, welcoming, livable community for all.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="issuedropdown">
  <div class="container-fluid issuescontainer">
    <div class="container issuesdropdowncont pt-5 pb-5">
      <!-- Collapse for Issue 1 -->
      <button class="btn btn-secondary w-100 issuebutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIssue1" aria-expanded="false">
        Listen to the people <i class="fa-solid fa-arrow-down" style="font-size: 28px";></i>
      </button>
      <div class="collapse w-100" id="collapseIssue1">
        <div class="card card-body pr-1">
          In a democratic society, the voice of the people is the cornerstone of governance, and Burlington, North Carolina, is no exception. However, listening isn't just about hearing; it's about understanding, empathizing, and acting. As mayor, I will prioritize open dialogue and active community participation as fundamental aspects of my administration. I will create platforms for residents to express their concerns, share their ideas, and actively participate in shaping the policies that affect their lives. This is not just about governance; it's about building a community that is engaged, informed, and empowered. To achieve this, I'm committed to:
          <br>
          <br>
          <ul>
            <li><strong>Open Forums:</strong> Regularly hosting town halls and community meetings to hear directly from residents.</li>
            <li><strong>Digital Engagement:</strong> Utilizing social media and other online platforms to maintain a two-way communication channel with the community.</li>
            <li><strong>Transparency:</strong> Providing clear and accessible information on city policies, initiatives, and decision-making processes.</li>
            <li><strong>Community Boards:</strong> Establishing community advisory boards that represent the diverse voices of Burlington to consult on major decisions.</li>
          </ul>
          By focusing on these key areas, I aim to make Burlington, North Carolina, a city where every voice is heard and every resident is a participant in their own governance.
        </div>
      </div>
      <!-- Collapse for Issue 2 -->
      <button class="btn btn-secondary w-100 mt-3 issuebutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIssue2" aria-expanded="false">
        Community Safety <i class="fa-solid fa-arrow-down" style="font-size: 28px";></i>
      </button>
      <div class="collapse w-100" id="collapseIssue2">
        <div class="card card-body pr-1">
          In my conversations with constituents, the desire for a safe community is a recurring theme. While Burlington already boasts a police department accredited by the CALEA (Commission on Accreditation for Law Enforcement Agencies) since 1989, there's more work to be done. As mayor, I'm committed to:<br>
          <br>
          <ul>
            <li><strong>Building Partnerships:</strong> Strengthening the relationship between our police department, community resource agencies, and community members to create a safer Burlington for all.</li>
            <li><strong>Community Involvement:</strong> Actively listening to neighbors and leveraging their knowledge of their communities in decision-making processes.</li>
            <li><strong>Accountability:</strong> Encouraging the police chief and other public safety professionals to maintain high standards for accountability.</li>
            <li><strong>Continuous Improvement:</strong> Persistently seeking ways to improve public safety measures, ensuring that we're always striving to be better.</li>
            <li><strong>Inclusive Safety Measures:</strong> Adopting an "all-in" approach to community safety, where everyone plays a part in keeping each other safe.</li>
          </ul>
          By focusing on these key areas, I aim to create a Burlington where everyone feels safe and included.
        </div>
      </div>
      <button class="btn btn-secondary w-100 mt-3 issuebutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIssue3" aria-expanded="false">
        Livable Communities <i class="fa-solid fa-arrow-down" style="font-size: 28px";></i>
      </button>
      <div class="collapse w-100" id="collapseIssue3">
        <div class="card card-body pr-1">
          In Burlington, we're fortunate to have a foundation of strong community assets, including an exceptional park system and vibrant neighborhoods. However, the true potential of our city lies in its ability to offer every resident a high quality of life, irrespective of their zip code. As mayor, I will focus on making Burlington not just a place to live, but a place to thrive. I will work diligently to ensure that our communities are not just livable, but are also equitable, sustainable, and enriched with opportunities for all. To achieve this, I'm committed to:<br>
          <br>
          <ul>
            <li><strong>Resource Accessibility:</strong> Ensuring all neighborhoods have easy access to food, jobs, parks, and recreation.</li>
            <li><strong>Diversity of Resources:</strong> Recognizing that communities thrive more easily when they have a variety of resources available.</li>
            <li><strong>Equitable Development:</strong> Collaborating with agencies like the US Environmental Protection Agency to promote development that is equitable, healthy, and sustainable.</li>
            <li><strong>Community Definition:</strong> Aligning with the AARP's definition of a livable community as one that is safe, secure, and serves residents of all backgrounds equitably.</li>
          </ul>
          By focusing on these key areas, I aim to elevate Burlington, North Carolina, into a city where every community is not just livable, but thriving.
        </div>
      </div>
      <!-- New Collapse for Issue 4 -->
      <button class="btn btn-secondary w-100 mt-3 issuebutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIssue4" aria-expanded="false">
        Affordable Housing <i class="fa-solid fa-arrow-down" style="font-size: 28px";></i>
      </button>
      <div class="collapse w-100" id="collapseIssue4">
        <div class="card card-body pr-1">
          The issue of affordable housing isn't just a talking point—it's a pressing reality for many of our residents. With a median income of $47,158 and a per capita income of $29,163, the challenge of affording a median rent of $1,200 per month is daunting for many. As mayor, I am committed to not just acknowledging this issue but actively working to solve it. I will collaborate with local organizations, agencies, and the private sector to create a multi-faceted approach to affordable housing. This is not just about shelter; it's about building stable communities and offering everyone the opportunity for home ownership and financial security. To make this vision a reality, I'm committed to:
          <br>
          <br>
          <ul>
            <li><strong>Income-Based Solutions:</strong> Addressing the income disparities that make housing unaffordable for many residents.</li>
            <li><strong>Land Trust Model:</strong> Exploring opportunities for home ownership through innovative models like land trusts.</li>
            <li><strong>Grant Funding:</strong> Leveraging grant funding opportunities from both private and governmental sectors to create more affordable housing options.</li>
            <li><strong>Rental Property Regulations:</strong> Working with the City Council to stipulate that rental property developers allocate a percentage of properties to meet the affordable living standards in our community.</li>
          </ul>
          By focusing on these key areas, I aim to make Burlington, North Carolina, a city where affordable housing is accessible to all, contributing to a more equitable and prosperous community.
        </div>
      </div>
    </div>
  </div>
</section>
<section id="bethvisionphoto">
  <div class="container-fluid visionbeth-container">
    <div class="container aboutcont">
      <div class="row justify-content-end pt-5">
        <div class="col-lg-6 col-md-8 col-sm-10 text-end">
          <h1 class="visionheader">JOBS</h1>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8 col-sm-10 pt-4 text-end">
          <h1 class="visionheader">SAFETY</h1>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8 col-sm-10 pt-4 text-end">
          <h1 class="visionheader">PROGRESS</h1>
        </div>
      </div>
    </div>
  </div>
</section>
