.footertopcont {
  min-height: 18vh;
}

.bethsig img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sigbackground {
  background-color: #fffcf5;
}

.footerbackground {
  background-color: #004463;
}

.footerbottomcont {
  min-height: 18vh;
}

.socialiconrow {
  min-height: 10vh;
}

.buttonrow {
  min-height: 10vh;
}

.icongridbox {
  min-height: 10vh;
}

i {
  font-size: 50px;
  color: #fffcf5;
}

.footertext {
  color: #fffcf5;
  font-family: 'Figtree', sans-serif;
  font-weight: 300 !important;
  font-size: 18px;
}

.footerbtn {
  background-color: #53C2C5 !important;
  font-weight: bold !important;
  font-size: 28px !important;
  color: #fffcf5 !important;
}

.footerbtntwo {
  background-color: #EFB114 !important;
  font-weight: bold !important;
  font-size: 25px !important;
  color: #fffcf5 !important;
}

.footerbtnthree {
  background-color: #EF8721 !important;
  font-weight: bold !important;
  font-size: 25px !important;
  color: #fffcf5 !important;
}
