.header-container {
  background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693871559/bethfilingthree.jpg');
  background-size: 110%;
  /* To cover the entire container */
  background-position: center 30%;
  /* To center the image */
  background-repeat: no-repeat;
  /* To prevent the image from repeating */
}

.image-container {
  min-height: 65vh;
  display: flex;
  /* Enable flexbox */
  flex-direction: column;
  /* Stack children vertically */
  justify-content: flex-end;
  /* Align children to the bottom */
  /* Optional padding at the bottom */
}

.banner-container {
  position: relative;
}

.bethsignaturebox {
  min-height: 4vh;
  width: auto;
}

.donatebanner-btn {
  position: absolute;
  top: 0;
  /* Adjust this value */
  left: 50%;
  /* Center the button horizontally */
  transform: translate(-50%, -50%);
  /* Center the button */
}

.bannertop {
  background-color: #004463;
  min-height: 2vh;
}

.bannermiddle {
  background: rgb(239, 177, 20);
  background: linear-gradient(93deg, rgb(242, 180, 24) 43%, rgb(255, 186, 13) 85%);
  min-height: 14vh;
}

.bannertexttop {
  color: rgb(248, 249, 250);
  font-family: 'Figtree', sans-serif;
  font-weight: 900 !important;
  font-style: italic;
  font-size: 60px;
}

.bannertextmiddle {
  color: #004463;
  font-family: 'Figtree', sans-serif;
  font-weight: 900 !important;
  font-style: italic;
  font-size: 25px;
}

.donatebanner-btn {
  background-color: #53C2C5 !important;
  font-weight: bold !important;
  font-size: 25px !important;
  color: #fffcf5 !important;

}

.donatebutton-hover:hover {
  color: #004463 !important;
}

.right-container {
  background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693184443/kennetfamilytwo_o1oykz.jpg');
  background-size: cover;
  /* To cover the entire container */
  background-position: center;
  /* To center the image */
  background-repeat: no-repeat;
  /* To prevent the image from repeating */
  min-height: 60vh;
  margin: 0px;
  padding: 0px;

}

.left-containertwo {
  background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693425824/bethbluesuit_xcw6or.jpg');
  background-size: cover;
  /* To cover the entire container */
  background-position: center;
  /* To center the image */
  background-repeat: no-repeat;
  /* To prevent the image from repeating */
  min-height: 65vh;
  margin: 0px;
  padding: 0px;

}

.left-container {
  background-color: #fffcf5;
  min-height: auto;
  width: 100%;
  margin-left: 0px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-containertwo {
  background-color: #004463;
  min-height: auto;
  width: 100%;
  margin-left: 0px;
}

.right-containertwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoboxhero img {
  max-width: 300px;
  /* You can adjust this value */
  margin-bottom: 20px;
  /* Space between the logo and the text */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.iconbox img {
  width: 50%;
  height: auto;
  object-fit: cover;
  /* This will make sure the aspect ratio is maintained */
}

.iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.triplectext {
  color: #004463;
  font-family: 'Figtree', sans-serif;
  font-weight: 900 !important;
  font-size: 50px;
  line-height: 1.2;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.quotetexttwo {
  color: #fffcf5;
  font-family: 'Figtree', sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding: 30px;

}

.icontext {
  color: #004463;
  font-family: 'Figtree', sans-serif;
  font-weight: 800 !important;
  font-size: 28px;
  line-height: 1.2;
}

.quotetext {
  color: #004463;
  font-family: 'Figtree', sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding: 10px;
}

.break-on-mobile::after {
  content: " ";
  display: inline;
}

@media (max-width: 1024px) {
  .break-on-mobile::after {
    content: "\A";
    white-space: pre;
  }
}

.aboutmaintext {
  color: #004463;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 18px;

}

.triplectexttwo {
  color: #fffcf5;
  font-family: 'Figtree', sans-serif;
  font-weight: 900 !important;
  font-size: 50px;
  line-height: 1.2;
  padding: 30px;
  padding-top: 0px;
}

.leftconttextp {
  color: #004463;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  line-height: 1.2;
  padding: 30px;
}

@media (max-width: 991.98px) {
  .leftconttextp {
    text-align: center;
  }

  .leftconttextptwo {
    text-align: center;
  }

  .quotetexttwo {
    text-align: center;
  }

  .triplectext {
    text-align: center;
    font-size: 35px;
  }

  .bannertextmiddle {
    font-size: 40px;
  }
}


.leftconttextptwo {
  color: #fffcf5;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  line-height: 1.2;
  padding: 45px;
  padding-top: 5px !important;
}

.quotecont {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.quotebackground {
  background-color: #fffcf5;
}

.bethphoto-cont {
  background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693364559/bethlillies_tgugoy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.next-container {
  background-color: #fffcf5;
  min-height: 15vh;
  z-index: 0;
  /* Add this line */
  position: relative;
  /* Add this line */
}

.bethcont {
  background-color: #004463;
  min-height: auto;
  position: absolute;
  bottom: -12.5vh;
  /* Half of the min-height of .bethcont */
  left: 0;
  right: 0;
  z-index: 1;
}


.marker-underline {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.marker-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 14px;
  transform: skew(-12deg);
  background: #EFB114;
  z-index: -1;
  /* This will place it behind the text */
}

/* Tablet-specific style */
@media (max-width: 1024px) {
  .image-container {
    min-height: 40vh;
  }

  .header-container {
    background-size: 150%;
  }

  .bannertexttop {
    color: rgb(248, 249, 250);
    font-family: 'Figtree', sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    font-size: 75px;
  }

  .triplectexttwo {
    text-align: center;
    font-size: 40px;
  }

  .triplectext {
    text-align: center;
    font-size: 40px;
  }

  .bannertextmiddle {
    color: #004463;
    font-family: 'Figtree', sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    font-size: 30px;
    line-height: 1.2;
  }

  .donatebanner-btn {
    background-color: #53C2C5 !important;
    font-weight: bold !important;
    font-size: 25px !important;
    color: #fffcf5 !important;

  }
}

/* Mobile-specific style */
@media (max-width: 768px) {
  .image-container {
    min-height: 35vh;
  }

  .header-container {
    background-size: 170%;
  }

  .bannertexttop {
    color: rgb(248, 249, 250);
    font-family: 'Figtree', sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    font-size: 35px;
  }

  .bannertextmiddle {
    color: #004463;
    font-family: 'Figtree', sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    font-size: 24px;
  }

  .donatebanner-btn {
    background-color: #53C2C5 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    color: #fffcf5 !important;

  }
}

/* Styles for landscape orientation */
@media only screen and (orientation: landscape) {
  .header-container {
    background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693871559/bethfilingthree.jpg');
    background-size: 100%;
    /* To cover the entire container */
    background-position: center 30%;
    /* To center the image */
    background-repeat: no-repeat;
    /* To prevent the image from repeating */
  }

  .image-container {
    min-height: 90vh;
    display: flex;
    /* Enable flexbox */
    flex-direction: column;
    /* Stack children vertically */
    justify-content: flex-end;
    /* Align children to the bottom */
    /* Optional padding at the bottom */
  }

  .bannertexttop {
    color: rgb(248, 249, 250);
    font-family: 'Figtree', sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    font-size: 40px;
    padding-top: 15px;
  }

  .leftconttextp {
    color: #004463;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    padding: 20px;
  }

  .leftconttextptwo {
    color: #fffcf5;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    padding: 20px;
    padding-top: 5px !important;
  }

  .bethphoto-cont {
    background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693364559/bethlillies_tgugoy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

  .right-container {
    background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693184443/kennetfamilytwo_o1oykz.jpg');
    background-size: cover;
    /* To cover the entire container */
    background-position: center;
    /* To center the image */
    background-repeat: no-repeat;
    /* To prevent the image from repeating */
    min-height: 90vh;
    margin: 0px;
    padding: 0px;

  }

  .left-containertwo {
    background-image: url('https://res.cloudinary.com/dqe5h0j32/image/upload/v1693425824/bethbluesuit_xcw6or.jpg');
    background-size: cover;
    /* To cover the entire container */
    background-position: center 30%;
    /* To center the image */
    background-repeat: no-repeat;
    /* To prevent the image from repeating */
    min-height: 90vh;
    margin: 0px;
    padding: 0px;

  }
}
