<section class="footer">
  <div class="container-fluid sigbackground">
    <div class="container footertopcont">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-10 pt-4 pb-4 bethsig">
          <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1693450758/Bethsignature_oreui6.svg" alt="Beth's Logo">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footerbackground">
    <div class="container footerbottomcont pt-5 pb-5">
      <div class="row socialiconrow justify-content-between">
        <!-- First Half -->
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center icongridbox">
              <a href="https://www.facebook.com/BethKennettforBurlingtonMayor" target="_blank">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-center icongridbox">
              <a href="https://www.instagram.com/kennett4burlington/" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center icongridbox">
              <a href="https://www.linkedin.com/in/beth-elizabeth-kennett-66539ba/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col-12 text-center text-sm-left">
              <p class= "footertext">Paid for by The Committee to Elect Beth Kennett<br>
                PO Box 41, Burlington, NC  27216<br>
                <br>
                Designed by <a href="https://www.monarch-digital.com/" target="_blank" style="color: inherit; text-decoration: none; font-weight: bold;">Monarch Digital</a></p>
            </div>
          </div>
        </div>
        <!-- Second Half -->
        <div class="col-lg-5 col-md-12 col-sm-12 ">
          <div class="row buttonrow justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-4 col-sm-12 col-12 pb-4 text-center">
                  <a class="btn footerbtn donatebutton-hover" href="https://secure.actblue.com/donate/committee-to-elect-beth-kennett-1" role="button" target="_blank">DONATE</a>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-12 pb-4 text-center">
                  <a class="btn footerbtntwo donatebutton-hover" href="https://docs.google.com/forms/d/1aZA4aGlAOUguI3PHxMgRRnQvf9yPy1nj6BeskWJaVSI/edit?ts=64f88306" role="button">VOLUNTEER</a>
                </div>
              </div>
            </div>
            <div class="row pb-4">
              <div class="col-12 text-center text-md-left pt-2">
                <p class= "footertext">For media inquiries, please contact bethkennettforburlington@gmail.com<br>
                  <br>
                  For scheduling requests, please contact bethkennettforburlington@gmail.com<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
